.modal {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.33);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: #3c4043;
  font-size: 15px;
  margin: 0;
  width: 440px;
}
.button {
  background: none;
  font-size: 20px;
  color: #3c4043;
  cursor: pointer;
  border: none;
}
.modal-wrapper {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(209, 209, 209, 0.24);
  z-index: 1500;
  width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.modal-btn {
  background: none;
  color: #3c4043;
  font-size: 14px;
  cursor: pointer;
  border: none;
}
.submit {
  color: #045a53;
  margin-right: 30px;
  border: none;
}
.loading {
  margin-right: 30px;
  background: none;
}
@media (max-width: 1200px) {
  .modal {
    max-width: 550px;
  }
}
@media (max-width: 800px) {
  .modal {
    max-width: 420px;
  }
}
@media (max-width: 400px) {
  .modal {
    max-width: 360px;
  }
}
